<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITE_TITLE if SITE_TITLE else SITENAME}}{%endblock%}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/extras.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

  </head>
  <body>

  <div class="bg-darkblue">

    <div class="container">
        <div id="header" class="row">
          <div class="col-md-6 col-sm-5">
            <!-- Responsive header-->
            <img class="header-img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/header.png" height="95px">
            <img class="header-img-small" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/header-small.png">
          </div>
          <div class="col-md-6 col-sm-7 navdiv">

            <nav role="navigation" class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>
              <!-- Collection of nav links and other content for toggling -->
              <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul id="menu-pane" class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Get Involved</a></li>
                </ul>
              </div>
            </nav>

          </div>
        </div>
      </div>
    </div>

  </div>

  {% block content %}

  {% endblock %}

  <div class="bg-darkblue">
    <div class="container footer-links">
      <div class="row">
        <div class="col-sm-4">
          <h1>Learn More</h1>
          <div class="footer-link">About EECS</div>
        </div>
        <div class="col-sm-4">
          <h1>Get Involved</h1>
          <div class="footer-link">Submit Proposal</div>
        </div>
        <div class="col-sm-4">
          <h1>Follow Us</h1>
          <div class="footer-link">GitHub</div>
          <div class="footer-link">Facebook</div>
          <div class="footer-link">Twitter</div>
          <div class="footer-link">Mailing List</div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-bluegray">
    <div class="container footer-credits">
      <div class="row">
        <div class="col-sm-4"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/footer-logo.png"/></div>
        <div class="col-sm-4"><h1>Hosting by</h1><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/credit-digitalocean.png" height="30px"/></div>
        <div class="col-sm-4"><h1>Design by<h1/><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/credit-skogmo.png" height="30px"></div>
      </div>
      <div class="row">
        <div class="col-sx-12">EECS Society &copy; 2015</div>
      </div>
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>

  </body>
</html>
