
.container {
	max-width: 1400px;
}
.bg-darkblue {
	background: #0D47A1;
	position: relative;
}
.bg-bluegray {
	background: #263238;
	position: relative;
}
.hero {
	background: url('../img/hero.jpg');
	background-size: cover;
	background-position: center;
}
.hero-text {
	font-size: 32px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 70px;
	font-family: 'Open Sans', sans-serif;
}
.hero-text button {
	font-size: 32px;
	font-weight: 700;
}
.news-item h1 {
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	font-size: 28px;
	margin-bottom: 5px;
}
.news-item p {
	text-align: justify;
}
.footer-links h1 {
	font-weight: 600;
	font-size: 14px;
}
.footer-links {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: "Open Sans", sans-serif;
}
.footer-credits {
	color: #fff;
	padding-top: 20px;
	font-family: "Open Sans", sans-serif;
}
.footer-credits h1 {
	margin-bottom: 12px;
	font-size: 14px;
	margin-top: 0px;
}

.event-breaker {
	margin-top: 58px;
}
.event-item {
	color: #000;
	float: left;
	margin-left: 25px;
	/* text-shadow: 2px 2px rgba(0,0,0,0.8); */
	font-family: 'Roboto', sans-serif;
	margin-left: -10px;
	margin-bottom: 25px;
	border: 1px solid rgba(0,0,0,0.1);
	/* width: 280px; */
	width: 100%;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.41);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.41);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.41);
	background: url('../img/events/tree_bark.png') repeat;
	position: relative;
}
.event-info {
	float: left;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
}
.event-action {
	float: right;
	width: 10%;
	height: 64px;
	background: rgba(244,67,54,0.5);
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.41);
	-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.41);
	box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.41);
	text-align: center;
}

.event-header {
	font-weight: 900;
}
.event-text {
	font-size: 12px;
}

.navdiv {
	padding-top: 10px;
	margin-bottom: -8px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
	.header-img {
		display: none;
	}
	.header-img-small {
		display: block;
	}
	.navbar {
		display: relative;
	}
	.hero {
		padding-top: 200px;
		height: 140px;
	}
	.hero-text {
		margin-top: -150px;
	}
	.event-action .fa {
		font-size: 22px;
		padding-top: 23px;
		margin: 0 auto;
	}
	#header {
		padding-top: 10px;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.header-img {
		display: none;
	}
	.header-img-small {
		display: block;
	}
	.navbar-nav {
		font-size:12px;
	}
	nav {
		margin-top: 18px;
		margin-bottom: 20px;
	}
	#header {
		height: 100px;
		padding-top: 10px;
	}
	.hero {
		height: 200px;
	}
	.hero-text {
		margin-top: 36px;
	}
	.event-action .fa {
		font-size: 18px;
		padding-top: 23px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header-img {
		display: block;
	}
	.header-img-small {
		display: none;
	}
	.navbar-nav {
		font-size:14px;
	}
	#header {
		height: 150px;
		padding-top: 22px;
		position: relative;
	}
	nav {
		margin-top: 25px;
	}
	.navbar {
		display: inline-block;
	}
	.hero {
		height: 250px;
	}
	.hero-text {
		margin-top: 70px;
	}
	.lots-of-news {
		padding-right: 60px;
		/* border-right: 1px rgba(0,0,0,0.2) solid; */
	}
	.event-action .fa {
		font-size: 20px;
		padding-top: 23px;
		padding-left: 4px;
	}
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.event-action .fa {
		font-size: 24px;
		padding-top: 20px;
	}
}

.event-action .fa {
	color: #fff;
}

.item-red {	border-top: 2px solid rgba(244,67,54,0.5); }
.item-red .event-action { background: rgba(244,67,54,0.5); }

.item-blue { border-top: 2px solid #81D4FA; }
.item-blue .event-action{ background: #81D4FA;}

.item-green { border-top: 2px solid #A5D6A7; }
.item-green .event-action { background: #A5D6A7;}

.footer-credits {
	font-size: 10px;
}
.footer-credits .row .col-sx-12 {
	text-align: center;
	color: #999;
}
.btn-primary {
	color: #fff;
	background-color: #0D47A1 ;
	border-color: #0D47A1;
}