<article class="post-item post tag-docs" role="article" itemtype="http://schema.org/BlogPosting" itemscope="">
  <header class="post-item-header">
    <h1 class="post-item-title" itemprop="name">
      <a title="{{ article.title }}" data-pjax="" itemprop="url" href="{{ SITEURL }}/{{ article.url }}">
      {{ article.title }}
      </a>
    </h1>
  </header>
  <section class="post-item-excerpt" itemprop="description">
    <p>
      {{ article.summary }}
    </p>
  </section>
  <footer class="post-item-footer">
    <ul class="post-item-meta-list">
      <li class="post-item-meta-item">
        <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">
          {{ article.locale_date }}
        </time>
      </li>
      <li class="post-item-meta-item">
        {% for tag in article.tags %}
          <span itemprop="keywords"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
        {% endfor %}
      </li>

      {% if DISQUS_SITENAME %}
        <li class="post-item-meta-item">
          <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Comments</a>.
      </li>
      {% endif %}
    </ul>
  </footer>
</article>