{% extends "base.html" %}
{% block content %}

{% include 'hero-member.html' %}

<div class="container">
<div class="row">
  <div class="col-sm-8 lots-of-news">
    <section>

      {{ page.content }}

      {% set article = articles[0] %}

      <div class="news-item">
        <h1><a title="{{ article.title }}" data-pjax="" itemprop="url" href="{{ SITEURL }}/{{ article.url }}">Latest post: {{ article.title }}</a></h1>
        <p>
          {{ article.content }}
        </p>

      </div>

    </section>
  </div>

  <div class="col-sm-4">
    <div class="event-breaker"></div>

      <div class="event-item item-green">
        <div class="event-info">
          <div class="event-header">Raspberry Pi Club</div>
          <div class="event-text">14.30 - 16.00 at Electronics Lab</div>
          <div class="event-infolink"></div>
        </div>
        <a href="#">
          <div class="event-action">
            <i class="fa fa-ticket"></i>
          </div>
        </a>
      </div>

      <div class="event-item item-green">
        <div class="event-info">
          <div class="event-header">Raspberry Pi Club</div>
          <div class="event-text">14.30 - 16.00 at Electronics Lab</div>
          <div class="event-infolink"></div>
        </div>
        <a href="#">
          <div class="event-action">
            <i class="fa fa-ticket"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
