{% extends "base.html" %}
{% block content %}
  <section>

    {{ page.content }}

    <hr>

    <p class="text-center">
      <!-- <a title="About us" class="btn btn-big" href="{{ SITE_URL }}/pages/about.html">About us</a> -->
      <a title="Write an article" class="btn btn-big" href="https://github.com/qmcs/qmcs.github.io#writing-an-article">Contribute</a>
      <a title="Join us" class="btn btn-primary btn-big" href="{{ SITEURL }}/engage">Join us</a>
    </p>

    <hr>

    {% set article = articles[0] %}

    <h2 class="post-item-title" itemprop="name">
      <a title="{{ article.title }}" data-pjax="" itemprop="url" href="{{ SITEURL }}/{{ article.url }}">
        Latest blog post: {{ article.title }}
      </a>
    </h2>

    {{ article.content }}

  </section>
{% endblock %}
